.Liders {
    background-color: #000;
    color: aliceblue;
    text-align: center;
}


.About {
    color: aliceblue;
    background-color: #000;
    text-align: center;
}

.Hello {
    text-align: center;
}

.Ucheniki {
    text-align: center;
    color: red;
}